header{
  width: 1000px;
  background-color: blue;
}
.header-top{
  display: flex;
  justify-content: space-between;
}
.logo{
  background-color: brown;
}
.tel{
  background-color: burlywood;
}


.header-menu-bar{
  width: 100%;
}
.menu-contents{
  display: flex;
  justify-content: space-around;
  background-color: chartreuse;
}
.menu-content{
  background-color: cadetblue;
  list-style: none;
  width: 20%;
  height: 80px;
  text-align: center;
  margin: auto;
}