* {
  box-sizing: border-box;
}

.header .header-top {
  display: flex;
  justify-content: space-between;
}
.header .header-top .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header .header-top .logo img {
  height: 100px;
}
.header .header-top .sub {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}
.header .header-top .sub p {
  margin: 10px;
}
.header .header-top .sub-tel {
  font-size: 40px;
}
.header .header-top .sub-time {
  border: 1px solid black;
  padding: 10px 30px;
}
.header .header-top .sub-time span {
  color: brown;
}
.header .header-menu-bar {
  background-color: rgba(26, 201, 3, 0.527);
  border-radius: 20px;
  border: 1px solid rgba(19, 145, 3, 0.527);
  margin: 20px 0;
}
.header .header-menu-bar ul {
  display: flex;
  justify-content: space-around;
}
.header .header-menu-bar ul li {
  height: 100px;
  list-style: none;
  color: white;
  width: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header-menu-bar ul li:not(:last-child) {
  border-right: 2px solid rgba(19, 145, 3, 0.527);
}
.header .header-menu-bar ul li div .ja {
  font-size: 20px;
}

li {
  list-style: none;
}

.footer {
  border: 1px solid;
}
.footer_menu-items {
  border: solid 1px;
  background-color: rgba(118, 248, 198, 0.562);
}
.footer_menu-items ul {
  display: flex;
  color: white;
}
.footer_address {
  border-bottom: solid 5px rgba(118, 248, 198, 0.562);
  display: flex;
  justify-content: flex-end;
}
.footer_address p {
  margin-left: 25px;
}
.footer_bottom {
  text-align: center;
}