* {
  box-sizing: border-box;
}

.header .header-top {
  display: flex;
  justify-content: space-between;
}
.header .header-top .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header .header-top .logo img {
  height: 70px;
}
.header .header-top .sub {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}
.header .header-top .sub p {
  margin: 10px;
}
.header .header-top .sub-tel {
  font-size: 40px;
}
.header .header-top .sub-time {
  border: 1px solid black;
  padding: 10px 30px;
}
.header .header-top .sub-time span {
  color: brown;
}
.header .header-nav-bar {
  background-color: rgba(26, 201, 3, 0.527);
  border-radius: 20px;
  border: 1px solid rgba(19, 145, 3, 0.527);
  margin: 20px 0;
}
.header .header-nav-bar ul {
  display: flex;
  justify-content: space-around;
}
.header .header-nav-bar ul li {
  height: 100px;
  list-style: none;
  color: white;
  width: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header-nav-bar ul li:not(:last-child) {
  border-right: 2px solid rgba(19, 145, 3, 0.527);
}
.header .header-nav-bar ul li div .ja {
  font-size: 20px;
}

.aaa {
  display: flex;
}
.aaa .side-bar {
  width: 30%;
}
.aaa .main-container {
  width: 70%;
  background-color: chocolate;
}

.general-menu {
  font-size: 20px;
  margin: 0 20px 20px 0;
}
.general-menu .menu-contents {
  padding-bottom: 20px;
  border: 1px solid rgba(19, 145, 3, 0.527);
  border-radius: 10px 10px 0 0;
  background-color: white;
}
.general-menu .menu-contents p {
  border-radius: 10px 10px 0 0;
  background-color: rgba(26, 201, 3, 0.527);
  color: white;
  padding: 15px;
}
.general-menu .menu-contents ul .side-bar-list {
  border-bottom: 1px solid rgba(19, 145, 3, 0.527);
  margin: 10px;
  padding: 10px;
}

.cosmetic-menu {
  font-size: 20px;
  margin: 0 20px 20px 0;
}
.cosmetic-menu .menu-contents {
  padding-bottom: 20px;
  border: 1px solid rgba(19, 145, 3, 0.527);
  border-radius: 10px 10px 0 0;
  background-color: white;
}
.cosmetic-menu .menu-contents p {
  border-radius: 10px 10px 0 0;
  background-color: rgba(26, 201, 3, 0.527);
  color: white;
  padding: 15px;
}
.cosmetic-menu .menu-contents ul .side-bar-list {
  border-bottom: 1px solid rgba(19, 145, 3, 0.527);
  margin: 10px;
  padding: 10px;
}

li {
  list-style: none;
}

body {
  background-color: #eceaea;
  width: 98%;
  margin: 0 auto;
}

.main_container {
  display: flex;
}
.main_container .side-bar {
  width: 400px;
  height: 1000px;
}
.main_container .main-contents {
  width: calc(100% - 400px);
  height: 1000px;
  margin-left: 80px;
}
.main_container .main-contents .image-container {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}
.main_container .main-contents .image-container img {
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}
.main_container .main-contents .a {
  background-color: white;
  border-radius: 7px;
  padding: 10px 0 60px;
}
.main_container .main-contents .a .news-container {
  width: 95%;
  margin: 0 auto;
}
.main_container .main-contents .a .news-container .news-tittle {
  padding-top: 30px;
  margin-bottom: 10px;
  border-bottom: solid 5px rgba(26, 201, 3, 0.527);
}
.main_container .main-contents .a .news-container .news-tittle h2 {
  padding-bottom: 30px;
}
.main_container .main-contents .a .news-container .news-contents {
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid #bbbaba;
}
.main_container .main-contents .a .news-container .news-contents .news-days {
  width: 180px;
}
.main_container .main-contents .a .news-container .news-contents .news-texts {
  width: calc(100% - 180px);
}

.footer_menu-items {
  background-color: rgba(26, 201, 3, 0.527);
  border-radius: 7px;
  height: 40px;
}
.footer_menu-items ul {
  display: flex;
  line-height: 40px;
  color: white;
}
.footer_menu-items ul li {
  margin-left: 20px;
}
.footer_address {
  height: 80px;
  border-bottom: solid 5px rgba(26, 201, 3, 0.527);
  display: flex;
  justify-content: flex-end;
  line-height: 80px;
}
.footer_address p {
  margin-left: 25px;
}
.footer_bottom {
  height: 70px;
  text-align: center;
  line-height: 70px;
}