* {
  box-sizing: border-box;
}

// ヘッダー浦山記述↓
.header{
  .header-top{
    display: flex;
    justify-content: space-between;
    .logo{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      img{
        height: 70px;
      }
    }
    .sub{
      display: flex;
      flex-direction: column;
      align-items:flex-end;
      justify-content: space-around;

      p{
        margin: 10px;
      }
      &-tel{
        font-size: 40px;
      }
      &-time{
        border: 1px solid black;
        padding: 10px 30px;
        
        span{
          color:brown;
        }
      }
    }
  }

  .header-nav-bar{
    background-color: rgba(26, 201, 3, 0.527);
    border-radius: 20px;
    border: 1px solid rgba(19, 145, 3, 0.527);
    margin: 20px 0;
    ul{
      display: flex;
      justify-content: space-around;
      
      li{
        height: 100px;
        list-style: none;
        color: white;
        width: 20%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:not(:last-child){
          border-right:2px solid rgba(19, 145, 3, 0.527);
        }

        div{
          .ja{
            font-size: 20px;
          }
        }
      }
    }
  }
}
// ヘッダーここまで

.aaa{
  display: flex;
  .side-bar{
    width: 30%;
  }

  .main-container{
    width: 70%;
    background-color: chocolate;
  }
}

// サイドバー浦山記述↓
@mixin menu-style{
  font-size: 20px;
  margin: 0 20px 20px 0;
  .menu-contents{
    // background-color: crimson;
    padding-bottom: 20px;
    border: 1px solid rgba(19, 145, 3, 0.527);
    border-radius: 10px 10px 0 0;
    
    p{
      // border: 1px solid rgba(19, 145, 3, 0.527);
      border-radius: 10px 10px 0 0;
      background-color: rgba(26, 201, 3, 0.527);
      color: white;
      padding: 15px;
    }
    ul{
      .side-bar-list{
        border-bottom: 1px solid rgba(19, 145, 3, 0.527);
        margin: 10px;
        padding:10px;
      }
    }
  }
}

.general-menu{
  @include menu-style;
}

.cosmetic-menu{
  @include menu-style;
}

// サイドバーここまで



li {
  list-style: none;
}

.footer {
  // フッター下部固定最後に装飾
  border: rosybrown solid 1px;
  &_menu-items {
    background-color: rgba(26, 201, 3, 0.527);
    height: 40px;
    & ul {
      display: flex;
      line-height: 40px;
      color: white;
      & li {
        margin-left: 20px;
      }
    }
  }
  &_address {
    height: 80px;
    border-bottom: solid 5px rgba(26, 201, 3, 0.527);
    display: flex;
    justify-content: flex-end;
    line-height: 80px;
    & p {
      margin-left: 25px;
    }
  }
  &_bottom {
    height: 70px;
    text-align: center;
    line-height: 70px;
  }
}