* {
  box-sizing: border-box;
}

.header .header-top {
  display: flex;
  justify-content: space-between;
}
.header .header-top .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header .header-top .logo img {
  height: 100px;
}
.header .header-top .sub {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}
.header .header-top .sub p {
  margin: 10px;
}
.header .header-top .sub-tel {
  font-size: 40px;
}
.header .header-top .sub-time {
  border: 1px solid black;
  padding: 10px 30px;
}
.header .header-top .sub-time span {
  color: brown;
}
.header .header-menu-bar {
  background-color: rgba(26, 201, 3, 0.527);
  border-radius: 20px;
  border: 1px solid rgba(19, 145, 3, 0.527);
  margin: 20px 0;
}
.header .header-menu-bar ul {
  display: flex;
  justify-content: space-around;
}
.header .header-menu-bar ul li {
  height: 100px;
  list-style: none;
  color: white;
  width: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header-menu-bar ul li:not(:last-child) {
  border-right: 2px solid rgba(19, 145, 3, 0.527);
}
.header .header-menu-bar ul li div .ja {
  font-size: 20px;
}

.aaa {
  display: flex;
}
.aaa .side-bar {
  width: 30%;
}
.aaa .main-container {
  width: 70%;
  background-color: chocolate;
}

.general-menu {
  font-size: 20px;
  margin: 20px 20px 0 0;
  padding: 10px;
}
.general-menu p {
  border: 1px solid rgba(19, 145, 3, 0.527);
  border-radius: 20px 20px 0 0;
  background-color: rgba(26, 201, 3, 0.527);
}
.general-menu ul .side-bar-list {
  border-bottom: 1px solid rgba(19, 145, 3, 0.527);
}

li {
  list-style: none;
}

.footer {
  border: rosybrown solid 1px;
}
.footer_menu-items {
  background-color: rgba(26, 201, 3, 0.527);
  height: 40px;
}
.footer_menu-items ul {
  display: flex;
  line-height: 40px;
  color: white;
}
.footer_menu-items ul li {
  margin-left: 20px;
}
.footer_address {
  height: 80px;
  border-bottom: solid 5px rgba(26, 201, 3, 0.527);
  display: flex;
  justify-content: flex-end;
  line-height: 80px;
}
.footer_address p {
  margin-left: 25px;
}
.footer_bottom {
  height: 70px;
  text-align: center;
  line-height: 70px;
}