/* ヘッダー部分 */
header {
  height: 7vh;
  display: flex;
}

.heading {
  font-weight: bold;
  font-size: 25px;
  width: 50%;
  padding-left: 5%;

  display: flex;
  align-items: center;
}

.navbar-wrapper {
  background-color: blue;
  width: 50%;
}

/* ヘッダー部分ここまで */