/* ヘッダー部分 */
header {
  height: 7vh;
  width: 100vw;
  display: flex;
}

.heading {
  font-weight: bold;
  font-size: 25px;
  width: 50%;

  display: flex;
  align-items: center;
}

.heading-title {
  margin-left: 3vw;
}

.navbar-wrapper {
  width: 50%;

  display: flex;
  justify-content: space-around;
}

.navbar-items {
  height: 100%;
  width: 80%;

  display: flex;
}

.navbar-item {
  list-style: none;
  height: 100%;
  width: 25%;

  display: flex;
  align-items: center;
}

.fa-caret-right {
  color: aquamarine;
  margin-right: 2%;
}

/* ヘッダー部分ここまで */


/* スライダー部分 */
/* .slider-wrapper {
  background-color: blueviolet;
  height: 50vh;
  width: 100vw;
} */

.swiper-container {
  background-color: #008BBB;
  height: 50vh;
  width: 100vw;
}

.swiper-slide {
  /* height: 100%;
  width: 100%; */

  display: flex;
  align-items: center;
  justify-content: center;
}
/* スライダー部分ここまで */